body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
    transition: 0.5s;
}
.logo {
    color: #bd352b;
    font-family: arial;
    font-size: 2em;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
}
.ul{
    display: flex;
    padding: 0;
    justify-content: flex-end;
}
nav {
    background-color: #bd352b;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
li {
    list-style: none;
    padding: 10px;
    font-size: 22px;
}
button {
    border: 0;
    background: transparent;
    padding: 10px;
    font-size: 22px;
}
button:hover {
    background-color: #b3332a;
}
.heading {
    background-color: rgb(53, 53, 53);
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
}
li:hover{
 background-color: #b3332a;
 transition: 0.5s;
}
.footer {
    background: rgb(59, 59, 59);
    margin-bottom: 0%;
    position: fixed; 
    left: 0; bottom: 0; 
    padding: 10px; 
    color: rgb(255, 255, 255); 
    width: 100%; 
}
.about {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
}
img {
    border-radius: 20px;
    margin-left: 50px;
}
.hover-icon:hover {
    background-color: #b9b7b7;
    transition: 0.7s;
}
.hover-icon {
    padding-top: 20px;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 15px;
}